.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}

.listItemName {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.btn {
  width: fit-content;
  height: 25px;

  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #31a835;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
